@page "/people"
@inject HttpClient Http
@using SharedProject;
<h3>People</h3>

<EditForm Model="@person">

    <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
        <tbody>
            <tr>
                <td class="dcf-txt-center">
                    <label>Id : </label>
                </td>
                <td class="dcf-txt-center">
                    <InputNumber @bind-Value="person.Id" placeholder="id" />
                </td>
            </tr>
            <tr>
                <td class="dcf-txt-center">
                    <label>Name : </label>
                </td>
                <td class="dcf-txt-center">
                    <InputText @bind-Value="person.Name" placeholder="name" />
                </td>
            </tr>
            <tr>
                <td class="dcf-txt-center">
                    <label>Age : </label>
                </td>
                <td class="dcf-txt-center">
                    <InputNumber @bind-Value="person.Age" placeholder="age" />
                </td>
            </tr>

            <tr>
                <td class="dcf-txt-center">
                    <input type="submit" class="form-control  btn btn-primary text-center" @onclick="@AddPerson" value="Add" />
                </td>
                <td class="dcf-txt-center">
                    @add_Status
                </td>
            </tr>
            <tr>
                <td class="dcf-txt-center">
                    <input type="submit" class="form-control btn btn-primary text-center" @onclick="@UpdatePerson" value="Update" />
                </td>
                <td class="dcf-txt-center">
                    @update_Status
                </td>
            </tr>
            <tr>
                <td class="dcf-txt-center">
                    <input type="submit" class="form-control  btn btn-primary text-center" @onclick="@DeletePerson" value="Delete by ID" />
                </td>
                <td class="dcf-txt-center">
                    @delete_Status
                </td>
            </tr>
            <tr>
                <td class="dcf-txt-center">
                    <input type="submit" class="form-control  btn btn-primary text-center" @onclick="@DeleteAll" value="Clear Database" />
                </td>
                <td class="dcf-txt-center">
                    @deleteall_Status
                </td>
            </tr>

        </tbody>
    </table>

</EditForm>

<br />


@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Person p in people)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Age</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    public List<Person> people ;
    public Person person = new Person();

    public string add_Status = string.Empty;
    public string update_Status = string.Empty;
    public string delete_Status = string.Empty;
    public string deleteall_Status = string.Empty;


    // GET
    protected override async Task OnInitializedAsync()
    {
        people = await Http.GetFromJsonAsync<List<Person>>("https://parsalotfy.ir/api/people");
    }


    // POST
    private async Task AddPerson()
    {
        add_Status = "Adding...";
        HttpResponseMessage httpResponse = await Http.PostAsJsonAsync<Person>("https://parsalotfy.ir/api/people", person);

        people = await Http.GetFromJsonAsync<List<Person>>("https://parsalotfy.ir/api/people");

        add_Status = string.Empty;
        person = new Person();

    }



    //PUT
    private async Task UpdatePerson()
    {
        update_Status = "Updating...";
        HttpResponseMessage httpResponse = await Http.PutAsJsonAsync<Person>("https://parsalotfy.ir/api/people", person);

        people = await Http.GetFromJsonAsync<List<Person>>("https://parsalotfy.ir/api/people");

        update_Status = string.Empty;
        person = new Person();
    }


    //DELETE Person
    private async Task DeletePerson()
    {
        delete_Status = "Deleting...";
        HttpResponseMessage httpResponse = await Http.DeleteAsync("https://parsalotfy.ir/api/people/" + person.Id);

        people = await Http.GetFromJsonAsync<List<Person>>("https://parsalotfy.ir/api/people");

        delete_Status = string.Empty;
        person = new Person();
    }


    //DELETE All
    private async Task DeleteAll()
    {
        deleteall_Status = "Deleting all Records...";
        HttpResponseMessage httpResponse = await Http.DeleteAsync("https://parsalotfy.ir/api/people");

        people = await Http.GetFromJsonAsync<List<Person>>("https://parsalotfy.ir/api/people");

        deleteall_Status = string.Empty;
        person = new Person();
    }


}
